@import "styles/functions";
@import "styles/variables";

.wrapper {
    width: 100%;
    height: calc(100vh - #{setUnit($header-height)});

    .formWrapper {
        width: 100%;
        max-width: setUnit(400);
    }
}
