@import "../../../styles/mixins";
@import "../../../styles/variables";

.dateInput {
    @include input;

    position: relative;

    .icon {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        background-color: $grey-color;
        width: setUnit(25);
        height: setUnit(25);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        svg {
            width: setUnit(15);
            height: setUnit(15);
            vertical-align: middle;
        }
    }

    .inputField {
        cursor: pointer;
        padding-left: setUnit(30);
    }

    .error {
        @include inputError;
    }
}

