@import "styles/variables";
@import "styles/functions";

@mixin label() {
    font-size: setUnit(16);
}

@mixin input() {
    margin: setUnit(15) 0;

    label {
        @include label;

        display: block;
        margin-bottom: setUnit(5);
    }

    input {
        padding: setUnit(5);
        border-width: 1px;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-color: $input-border-color;
        outline: none;
        margin: 0;
        width: 100%;
        vertical-align: middle;
    }

    textarea,
    select, {
        padding: setUnit(5);
        border: 1px solid darken($grey-color, 10);
        border-radius: setUnit(5);
        outline: none;
        margin: 0;
        width: 100%;
        vertical-align: middle;
    }
}

@mixin inputError() {
    font-size: setUnit(14);
    color: red;
    margin-top: setUnit(3);
}

@mixin button($bg: #000, $color: #fff) {
    background-color: $bg;
    color: $color;
    border: none;
    padding: setUnit(5) setUnit(15);
    border-radius: setUnit(5);
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: lighten($bg, 10);
    }
}

@mixin box-shadow($color: #000000) {
    box-shadow: 0 2px 1px -1px rgba($color,0.2), 0px 1px 1px 0px rgba($color,0.14), 0px 1px 3px 0px rgba($color,0.12);
}

@mixin box-shadow-hover($color: #000000) {
    box-shadow: 3px 5px 3px -3px rgba(0, 0, 0, 0.2), 3px 3px 3px 0px rgba(0, 0, 0, 0.14), 3px 3px 5px 0px rgba(0, 0, 0, 0.12);
}
