@import "styles/variables";
@import "styles/functions";

$drawer-width: 20%;

.drawer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;


    .opacityLayer {
        background-color: rgba(0,0,0,.5);
        opacity: 0;
        transition: opacity .3s;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 99;
    }

    .content {
        background-color: #ffffff;
        width: $drawer-width;
        position: absolute;
        z-index: 999;
        height: 100%;
        transition: all .3s;

        &.right {
            right: -$drawer-width;
        }

        &.left {
            left: -$drawer-width;
        }
    }

    &.isOpen {
        pointer-events: auto;
        opacity: 1;

        .opacityLayer {
            opacity: 1;
        }

        .content {
            &.right {
                right: 0;
            }

            &.left {
                left: 0;
            }
        }
    }
}
